@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main d-flex flex-column">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
    <footer class="mt-auto pl-1 py-3"><span class="text-muted">&copy; Footer Created by Steven, powered by bootstrap.</span></footer>
</div>

