<div class="row">
    <div class="col-md-4">
        <h1>Page Not Found!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nam mollis nunc a elit fermentum, et facilisis purus vehicula.
            Cras ultricies erat eu elit tempor, at ullamcorper quam sodales.
            Morbi interdum arcu magna, sed condimentum est fringilla sit amet.
            Nullam vulputate nisl efficitur nisl auctor, vitae cursus libero accumsan.
            Nulla ex turpis, tincidunt id gravida quis, viverra sed risus. Phasellus ut erat in nibh hendrerit hendrerit.
            Aliquam pretium metus quis nunc sodales, eget sollicitudin massa posuere.
        </p>
    </div>
    <div class="col-md-8">
        <img src="images/undraw_page_not_found_re_e9o6.svg" />
    </div>
</div>

@code {

}
